.Notification {
	position: fixed;
	bottom: 5%;
	right: 5%;
	text-align: right;
}

.Notification__toggle {
	border: 1px solid #aaa;
	color: #ddd;
	background: #333;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	outline: 0;
}
