.Contact {
	display: flex;
	align-items: flex-start;
	padding: 1rem;
}

.Contact:hover {
	background-color: rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.Contact__pic {
	width: 50px;
	border-radius: 50%;
}

.Contact__details {
	display: none;
}

@media (min-width: 576px) {
	.Contact__details {
		display: block;
		padding: 0 0 0 1rem;
	}

	.Contact__details-name {
		margin: 0;
		color: rgba(255, 255, 255, 0.8);
		font-size: 1rem;
	}
}
